{% comment %} Product list {% endcomment %}
<section class="productsList section">
    {% paginate collection.products by '10' %}
    <div class="product-list">
        {% for product in collection.products %}
            <div class="product">
                {% include 'product-card' %}
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ paginate | default_pagination }}
    </div>
    {% endpaginate %}
</section>


{% comment %} Product list {% endcomment %}
